:root{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233, 233, 233);
  }
  
* {
  box-sizing: border-box;
}
.body {
  display: flex;
  flex-direction: row;
}

.container {   
  /* border: 3px solid black; */
  width: 60vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}

.flip-card {
  margin-top: 15%;
  border-radius: .5em;
  box-shadow: 5px 3px 5px black;
  position: relative;
  background-color: rgb(255, 240, 221);
}

.counter-top, .counter-bottom {
  height: .575em;
  width: 0.75em;
  display: flex;
  font-size: 5rem;
  justify-content: center;
}

.counter-top {
  background-color: rgb(255, 240, 221);
  border-bottom: 1px solid rgb(197, 197, 197);
  border-radius: .1em .1em 0 0;
  overflow: hidden;
  /* -moz-animation-name: top-half;
  -moz-animation-duration:1500ms; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 4s; */
  /* animation: top-half 250ms ease-in;
  transform-origin: bottom; */
}

@keyframes top-half {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(90deg);
  }
}

.counter-bottom {
  background-color: rgb(253, 244, 233);
  /* border: 3px solid hotpink; */
  border-radius:  0 0 .1em .1em;
  overflow: hidden;
  align-items: flex-end;
  /* -moz-animation-name: bottom-half;
  -moz-animation-duration: 1500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 5s; */
  /* animation: bottom-half 250ms ease-out 250ms; */
  /* transform-origin: top; */
  /* -webkit-animation-delay: 1500ms;
  -moz-animation-delay: 1500ms;
  -ms-animation-delay: 1500ms;
  -o-animation-delay: 1500ms;
  animation-delay: 1500ms; */
}

.one-seconds .counter-top {
    /* -moz-animation-name: top-half;
  -moz-animation-duration:1500ms; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 4s; */
  animation: top-half 250ms ease-in;
  transform-origin: bottom;
}

.one-seconds .counter-bottom {
  /* -moz-animation-name: bottom-half;
  -moz-animation-duration: 1500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 5s; */
  animation: bottom-half 250ms ease-out 250ms;
  transform-origin: top;
  /* -webkit-animation-delay: 1500ms;
  -moz-animation-delay: 1500ms;
  -ms-animation-delay: 1500ms;
  -o-animation-delay: 1500ms;
  animation-delay: 1500ms; */
}

@keyframes bottom-half {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}


