:root{
    font-size: 32px;
  }
  
  .container {
    border: 3px solid black;
    width: 60vw;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .counter-L, .counter-R {
    border: 3px solid hotpink;
    height: 60%;
    width: 30%;
    border-radius: 10px;
  }
  
  .counter-R {
    border: 3px solid purple;
  }